.card {
  background: var(--color-gray-500);
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  transition: var(--transition);
}

.card:hover {
  background: transparent;
  border-color: var(--color-gray-400);
  cursor: pointer;
}
.card span {
  width: 3rem;
  height: 3rem;
  background: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}
.card:hover span {
  background: var(--color-secoundary);
  color: var(--color-gray-600);
}
.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}
.card.values__value {
  padding-top: 3.5rem;
  text-align: center;
  position: relative;
}
.card.values__value span {
  position: absolute;
  top: -1.5rem;
}

.btn {
  color: var(--color-gray-100);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: var(--color-primary);
  border-radius: 1.5rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secoundry);
  color: var(--color-gray-600);
}
.btn .sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}
.btn.sm:hover {
  background: var(--color-gray-100);
}
