.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--color-gray-100);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
a {
  color: var(--color-gray-100);
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  margin-top: 10rem;
}

.section__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section__head span {
  background: var(--color-gray-500);
  padding: 0.8rem;
  border-radius: 1rem;
  color: var(--color-secoundary);
  font-size: 1.5rem;
}

.programs {
  margin-top: 4rem;
}
.programs__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}
.programs__program a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs__program:hover a {
  background: var(--color-secoundary);
  color: var(--color-gray-600);
}

/*  btn styles */
.btn {
  color: var(--color-gray-100);
  width: fit-content;
  margin: 0 auto;
  padding: 0.9rem 2rem;
  background: var(--color-primary);
  border-radius: 1.5rem;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-secoundry);
  color: var(--color-gray-600);
}
.btn .sm {
  padding: 0.4rem 1.2rem;
  font-size: 0.9rem;
}
.btn.sm:hover {
  background: var(--color-gray-100);
}

/* Media Query (medium screens) */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}

/* Media Query (small Screens) */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.2;
    line-height: 1.3;
  }
}

@media screen and (max-width: 1024px) {
  .main__header {
    height: fit-content;
    padding: 12rem 0;
  }
  .main__header_container {
    gap: 0;
  }
  .main__header_circle {
    width: 16rem;
    height: 16rem;
  }

  /* Programs */
  .programs__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  /* VAlues */
  .values__container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 4rem;
  }

  .values__wrapper {
    gap: 4rem 3rem;
  }
  .values__image {
    display: none;
  }
  /* FAQS Section  */
  .faqs {
    .faqs__wrapper {
      grid-template-columns: 1fr;
    }
  }
  /* Testimonials */
  .testimonials {
    width: 75%;
  }

  /* FOOter */
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

/* Media Queries (medium screens) */
@media screen and (max-width: 600px) {
  /* Main header */
  .main__header {
    margin-top: 0;
    padding: 12rem 0 0;
    height: 100vh;
  }

  /* Programs  */
  .programs__wrapper {
    grid-auto-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }

  .programs__program {
    width: 84%;
    margin: 0 auto;
  }
  /* Values */

  .values__wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .card.values__value {
    width: 84%;
    margin-inline: auto;
  }

  /* FAQS */

  .faqs__wrapper {
    gap: 1rem;
    margin-top: 3rem;
  }
  /* Testimonials */
  .testimonials {
    width: 100%;
  }

  /* Footer  */
  footer {
    margin-top: 7rem;
  }
  .footer__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .footer__container article {
    align-items: center;
  }

  .footer__container article p {
    text-align: center;
  }
}
